<ng-container *ngIf="productSlides$ | async; let productSlides">
    <app-image-slider [slides]="productSlides"></app-image-slider>
</ng-container>

<div class="featured-products">
    <h1>Featured Products</h1>

    <div class="container" *ngIf="featuredProducts$ | async as featuredProducts">
        <ng-container *ngFor="let product of featuredProducts">
            <app-product-quickview [product]="product"></app-product-quickview>
        </ng-container>
    </div>
</div>

<!-- <app-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true"
    [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner> -->