<ng-container *ngIf="{ data: productSlides$ | async } as productSlides">
    <app-image-slider *appSpinner="!productSlides.data" [slides]="productSlides.data!"></app-image-slider>
</ng-container>

<div class="featured-products">
    <h1>Featured Products</h1>

    <div class="container" *ngIf="featuredProducts$ | async as featuredProducts">
        <ng-container *ngFor="let product of featuredProducts">
            <app-product-quickview [product]="product"></app-product-quickview>
        </ng-container>
    </div>
</div>