.featured-products {
    justify-content: center;
    margin: 0 auto;
    max-width: 94%;
    background-color: rgb(242, 249, 252);
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}