.container {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: rgb(242, 249, 252);
    text-align: center;
}

.not-found-img {
    width: 900px;
    margin-top: 20px;
    border-radius: 1px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5), 1px 1px 1px 1px #5e9ffb;
}