mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

app-authorize-view {
    display: flex;
}

.space {
    flex: 1 1 auto;
}

.mat-toolbar-single-row {
    height: 48px;
}

img {
    max-height: 32px;
    border: 2px solid #fff;
    display: inline;
}

.logged-in {
    display: flex;
    align-items: center;
}