<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>store</mat-icon> Products Store
        </a>
    </span>

    <div>
        <a mat-button routerLink="home"> Home </a>
    </div>

    <div>
        <a mat-button routerLink="products"> Products </a>
    </div>

    <div class="space">
    </div>

    <div>
        <a mat-button routerLink="products/filter">
            <mat-icon>search</mat-icon>Search
        </a>
    </div>

    <div>
        <a mat-button routerLink="products/cart">
            <mat-icon>shopping_cart</mat-icon>
        </a>
    </div>

    <div class="logged-in">
        <img src="./assets/images/user.png" alt="Sri Varu">
        <button mat-button [matMenuTriggerFor]="afterMenu">Welcome,
            Sri Varu</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item>Edit Profile</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
    </div>

</mat-toolbar>
<!-- <mat-toolbar color="accent">
    <div style="align-items: center; vertical-align: middle; text-align: center;">
        <h1>Hello World</h1>
    </div>
</mat-toolbar> -->

<!-- <mat-toolbar color="primary">

    <div>
        <span>
            <a routerLink="" mat-button>
                <mat-icon>store</mat-icon> Products Store
            </a>
        </span>
    </div>

    <div class="space">
    </div>

    <div>
        <a mat-button routerLink="home"> Home </a>
    </div>

    <div class="space">
    </div>

    <div>
        <a mat-button routerLink="actors"> Products </a>
    </div>

    <div class="space">
    </div>

</mat-toolbar> -->

<!-- <mat-toolbar color="primary">
    

    <div>
        <a mat-button routerLink="movies/filter">
            <mat-icon>search</mat-icon>Search movies
        </a>
    </div>

    <app-authorize-view [role]="'admin'">
        <ng-container authorized>
            <div>
                <a mat-button routerLink="genres"> Genres </a>
            </div>

            <div>
                <a mat-button routerLink="actors"> Actors </a>
            </div>

            <div>
                <a mat-button routerLink="movietheaters"> Movie Theaters </a>
            </div>

            <div>
                <a mat-button routerLink="movies/create"> Create Movie </a>
            </div>

            <div>
                <a mat-button routerLink="users"> Users </a>
            </div>
        </ng-container>
    </app-authorize-view>

    <div class="space">
    </div>

    <app-authorize-view>
        <ng-container authorized>
            <span>Hello, {{securityService.getFieldFromJWT('email')}}</span>
            <a mat-button (click)="securityService.logout()">Logout</a>
        </ng-container>
        <ng-container notAuthorized>
            <a mat-button routerLink="login">Login</a>
            <a mat-button routerLink="register">Register</a>
        </ng-container>
    </app-authorize-view>

</mat-toolbar> -->