<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>store</mat-icon> Products Store
        </a>
    </span>

    <div>
        <a mat-button routerLink="home"> Home </a>
    </div>

    <div>
        <a mat-button routerLink="products"> Products </a>
    </div>

    <div class="space">
    </div>

    <div>
        <a mat-button routerLink="products/filter">
            <mat-icon>search</mat-icon>Search
        </a>
    </div>

    <div>
        <a mat-button routerLink="products/cart">
            <mat-icon>shopping_cart</mat-icon>
        </a>
    </div>

    <div class="logged-in">
        <img src="./assets/images/user.png" alt="Sri Varu">
        <button mat-button [matMenuTriggerFor]="afterMenu">Welcome,
            Sri Varu</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item>Edit Profile</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
    </div>

</mat-toolbar>

